/*
=============== 
Default Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,600&display=swap');

:root {
  /* colors */
  --primary-100: #ccfbf4;
  --primary-200: #99f7e9;
  --primary-300: #66f3dd;
  --primary-400: #33efd2;
  --primary-500: #00ebc7;
  --primary-600: #00bc9f;
  --primary-700: #008d77;
  --primary-800: #005e50;
  --primary-900: #002f28;

  --secondary-300: #ffaab8;
  --secondary-400: #ff7f94;
  --secondary-500: #ff5470;
  --secondary-600: #bf3f54;
  --secondary-700: #802a38;

  --tertiary-400: #fde669;
  --tertiary-500: #fde24f;
  --tertiary-600: #d7c043;

  --grey-100: #ccd3db;
  --grey-200: #99a6b8;
  --grey-300: #667a94;
  --grey-400: #334d71;
  --grey-500: #00214d;
  --grey-600: #001a3e;
  --grey-700: #00142e;
  --grey-800: #000d1f;
  --grey-900: #00070f;

  --black: #000;
  --white: #fff;

  --ff-primary: 'Rubik', sans-serif;
  --backgroundGradient: linear-gradient(333deg, var(--tertiary-600), var(--primary-700) 80%);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;

  --max-width: 1120px;
  --fixed-width: 600px;
  --gap: 0.85rem;

  --clay-shadow: inset 2px 15px 20px -14px var(--primary-900), inset -11px -10px 13px -10px #D3CDCF, -5px -3px 7px -3px var(--grey-900);
  --shadow-1:0 1px 2px 0 rgba(0, 0, 0, 0.6);
  --shadow-2:  0 4px 6px -2px rgba(0, 0, 0, 0.6);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.8);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.8);
}

body {
  height: 100vh;
  background: #61978e;
  color: var(--grey-900);
  font-family: var(--ff-primary);
}

h1, 
h2, 
h3, 
h4, 
h5 {
  font-weight: 400;
}
h1 {
  font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}
h3 {
    font-size: 1.953rem;
}
h4 {
    font-size: 1.563rem;
}
h5 {
    font-size: 1.25rem;
}


/*
=============== 
Main Styles
===============
*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-200);
  padding: 0.75rem 5rem;
  gap: var(--gap);
  border-radius: 0 0 0.85rem 0.85rem;
  box-shadow:  var(--clay-shadow), -22px -4px 20px 5px var(--grey-900);
  text-align: center;
}

header * {
  font-weight: 700;
}

/* Interface Buttons and Scoreboard */

.interface-header {
  margin: 3rem 20% 1rem;

}
.scoreboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
  justify-items: center;
  gap: var(--gap);
  padding: var(--gap);
  background: var(--backgroundGradient);
  color: var(--primary-900);
  border-radius: 1rem 2rem;
  box-shadow: var(--clay-shadow);
  font-size: 5rem;
}
.btn {
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
  background: var(--primary-500);
  color: var(--grey-900);
  border-radius: 5rem 1rem 0.25rem 0.25rem;
  border: none;
  box-shadow: var(--clay-shadow);
  text-transform: capitalize;
  font-size: 0.8rem;
  transition: var(--transition);
  font-weight: 700;
}
.btn:hover {
  background: var(--primary-800);
  color: var(--primary-100);
}
.btn:active {
  background: var(--primary-900);
  color: var(--primary-100);
}
.score,
.timer {
  display: flex;
  align-items: center;
  gap: var(--gap);
  background: radial-gradient(ellipse at 74%, var(--primary-100), transparent, transparent);
  padding-right: 1rem;
  border-radius: 50%;
}
.score::before {
  content: "score:";
  font-size: 1.8rem;
  font-weight: 700;
}
.timer::before {
  content: "time left:";
  font-size: 1.8rem;
  font-weight: 700;
}

/* Questions and Highscore display */

.interface-body {
  margin: 2rem 10% 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.question-container {
  display: grid;
  align-content: center;
  gap: 1rem;
  width: 50vw;
  background: var(--backgroundGradient);
  color: var(--primary-900);
  border-radius: 1rem 2rem;
  box-shadow: var(--clay-shadow);
  padding: 2rem 3rem;
}
.question,
.choices {
  background: var(--primary-100);
  padding: 1.5rem;
  box-shadow: inset 14px 15px 21px -14px var(--primary-900), inset -7px -8px 55px 2px var(--primary-400), -1px -1px 7px -1px var(--grey-900);
  border-radius: 0.5rem;
  font-weight: 600;
}
.choices {
  list-style-position: inside;
  padding: 1rem 5rem;
}
.choice {
  transition: var(--transition);
  padding: 0.25rem;
}
.choice:hover {
  background: var(--primary-900);
  color: var(--primary-100);
  transition: var(--transition);
  transform: scale(1.5);
  padding-left: 3rem;
}
.highscore-container {
  background: var(--backgroundGradient);
  color: var(--primary-900);
  border-radius: 1rem 2rem;
  box-shadow: var(--clay-shadow);
  padding: 2rem 3rem;
  font-size: 1rem;
  font-weight: 600;
}
.scores {
  list-style-position: inside;
  background: var(--primary-100);
  padding: 0.5rem;
  box-shadow: inset 14px 15px 21px -14px var(--primary-900), inset -7px -8px 55px 2px var(--primary-400), -1px -1px 7px -1px var(--grey-900);
  border-radius: 0.5rem;
}

/* Initials Prompt */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(73, 166, 233, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
}
.initials-prompt {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1rem;
  background: var(--primary-600);
  color: var(--grey-600);
  border-radius: 5rem 1rem 0.25rem 0.25rem;
  border: none;
  box-shadow: var(--clay-shadow);
  font-weight: 600;
}
.hide {
  display: none;
}

/*
=============== 
Media Queries
===============
*/

@media screen and (min-width: 720px) {
  .interface-body {
    flex-direction: row;
  }
  .scoreboard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .start,
  .highscore-toggle {
    font-size: 1.8rem;
  }
}